<h1>All Comments</h1>

<h4>Total: <%= @comments.count %> </h4>
<table class="table table-bordered">
    <tr>
      <th>Text</th>
      <th>Date</th>
	  <th>Post_id</th>
      <th>Actions</th>
	  
    </tr>
<% @comments.each do |comment|%>
<tr>
	<td><%= comment.text %> </td>
	<td> Date: <%= comment.created_at %></td>
	<td><%= comment.post.id %> </td>
	<td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
</tr>
<% end %>
</table>

