<p id="notice"><%= notice %></p>

<h2>
  <b>Post Title:</b>
  <%= @post.title %>
</h2>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Date:</b>
  <%= @post.updated_at %>
</p>

<table class="table table-bordered">
  <h3><%= @post.comments.count %> Comments:</h3>
 
  <th>Text</th>
  

<% @post.comments.each do |comment| %>
<tr>
   <td><%= comment.text %></td>
</tr>
  <% end %>

</tr>
</table>


<%= form_for(@comment) do |f| %>

<div class="field">
   <%= f.label :post_id %><br />
   <%= f.hidden_field :post_id, :value => @post.id %>
 </div>
 
  <div class="field">
  
    <%= f.text_field :text ,:placeholder => "Enter Comment" %>
  </div>
  <div class="actions">
    <%= f.submit  :class =>"btn btn-embossed btn-primary" %>
  </div>
<% end %>


<%= link_to 'Edit This Post', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>